exportPattern("^[[:alpha:]]+")
importFrom("stats", "p.adjust", "t.test", "wilcox.test")
importFrom("gage", "kegg.gsets")
importFrom("SPIA", "spia")
importFrom("mosaic", "zscore")
importFrom("ggplot2", "ggplot", "geom_boxplot",  "scale_color_gradient", "geom_hline")
importFrom("ggbeeswarm","geom_beeswarm")
importFrom("ggrepel", "geom_text_repel")
importFrom("dplyr", "mutate")
importFrom("pathview", 'download.kegg')
importFrom("plyr","rbind.fill.matrix")
importFrom("KEGGprofile","col_by_value","plot_pathway")
importFrom("utils","capture.output")
importFrom("HTSanalyzeR","preprocess","analyze")
importFrom("fields","image.plot")
importFrom("grDevices","colorRampPalette")
importFrom("graphics","rasterImage")
importFrom("png", "readPNG")
